In [535]:
import pandas as pd
import json

In [536]:
data_file="purchase_data.json"

purchase_df = pd.read_json(data_file)
purchase_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [537]:
total_players= len(purchase_df["SN"].unique())
total_players

573

In [538]:
unique_items=len(purchase_df["Item ID"].unique())
average_price = purchase_df["Price"].mean()
total_revenue= purchase_df["Price"].sum()
number_of_purchases=purchase_df["Price"].count()

In [539]:
purchase_analysis_summary = pd.DataFrame({"Number of Items":[unique_items],
                             "Avg. Price per Item":[average_price],
                             "Total Purchases":[number_of_purchases],
                             "Total Revenue":[total_revenue]})

In [540]:
purchase_analysis_summary=purchase_analysis_summary.round(2)
purchase_analysis_summary["Avg. Price per Item"]=purchase_analysis_summary["Avg. Price per Item"].map("${: .2f}".format)
purchase_analysis_summary["Total Revenue"]=purchase_analysis_summary["Total Revenue"].map("${: .2f}".format)
purchase_analysis_summary

  Avg. Price per Item  Number of Items  Total Purchases Total Revenue
0              $ 2.93              183              780     $ 2286.33

In [541]:
gender_counts=purchase_df['Gender'].value_counts()
total_players=purchase_df['Gender'].count()
percent_of_players=gender_counts/total_players
gender_group=purchase_df.groupby("Gender")["SN"].nunique()

In [542]:
gender_df= pd.DataFrame(purchase_df['Gender'].value_counts())
gender_df.rename(columns={"Gender":"Total"})
gender_df["% of Total"]=(gender_df["Gender"]/total_players)*100

In [543]:
gender_df=gender_df.round(2)
gender_df

                       Gender  % of Total
Male                      633       81.15
Female                    136       17.44
Other / Non-Disclosed      11        1.41

In [544]:
gender_analysis=purchase_df.set_index("Gender")
gender_analysis=gender_analysis.groupby(['Gender'])
gender_counts=gender_analysis.count()
average_price_gender=gender_analysis["Price"].mean()
total_value=gender_analysis["Price"].sum()

In [545]:
purchase_analysis=pd.DataFrame(gender_counts)
purchase_analysis["Average Purchase Price"]=average_price_gender
purchase_analysis["Total Purchase Value"]=total_value
purchase_analysis=purchase_analysis.rename(columns={"Age":"Purchases"})

purchase_analysis.columns
purchase_analysis=purchase_analysis.drop(['Item ID', 'Item Name', 'Price', 'SN'],axis=1)

In [546]:
purchase_analysis=purchase_analysis.round(2)
purchase_analysis["Average Purchase Price"]=purchase_analysis["Average Purchase Price"].map("${: .2f}".format)
purchase_analysis["Total Purchase Value"]=purchase_analysis["Total Purchase Value"].map("${: .2f}".format)
purchase_analysis

                       Purchases Average Purchase Price Total Purchase Value
Gender
Female                       136                 $ 2.82             $ 382.91
Male                         633                 $ 2.95            $ 1867.68
Other / Non-Disclosed         11                 $ 3.25              $ 35.74

In [547]:

bins = [0,10,20,30,100]
age_ranges=["Under 10","10-19","20-29","30 and Above"]
purchase_df["Age Range"]=pd.cut(purchase_df["Age"], bins, labels=age_ranges)

In [548]:
age_groups = purchase_df.groupby("Age Range")
age_counts=age_groups.count()
average_price_age=age_groups["Price"].mean()
total_value_age=age_groups["Price"].sum()

In [549]:
age_analysis=pd.DataFrame(age_counts)
age_analysis["Average Purchase Price"]=average_price_age
age_analysis["Total Purchase Value"]=total_value_age

In [550]:
age_analysis=age_analysis.rename(columns={"Age":"Purchases"})
age_analysis_summary=age_analysis[["Purchases","Average Purchase Price","Total Purchase Value"]]

In [551]:
age_analysis_summary=age_analysis_summary.round(2)
age_analysis_summary["Average Purchase Price"]=age_analysis_summary["Average Purchase Price"].map("${: .2f}".format)
age_analysis_summary["Total Purchase Value"]=age_analysis_summary["Total Purchase Value"].map("${: .2f}".format)
age_analysis_summary

              Purchases Average Purchase Price Total Purchase Value
Age Range
Under 10             32                 $ 3.02              $ 96.62
10-19               262                 $ 2.87             $ 752.89
20-29               381                 $ 2.95            $ 1122.43
30 and Above        105                 $ 2.99             $ 314.39

In [552]:
user_df=purchase_df.reset_index()
users=user_df.groupby("SN")
total_spent=users["Price"].sum()
total_purchased=users.count()
average_spent=users["Price"].mean()

In [553]:
top_spender_analysis=pd.DataFrame(total_purchased)
top_spender_analysis["Average Purchase Price"]=average_spent
top_spender_analysis["Total Purchase Value"]=total_spent
top_spender_analysis.columns

Index(['index', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price', 'Age Range',
       'Average Purchase Price', 'Total Purchase Value'],
      dtype='object')

In [554]:
top_spender_analysis=top_spender_analysis.rename(columns={"Age":"Purchases"})

In [555]:
new_top_df= top_spender_analysis[["Purchases","Average Purchase Price","Total Purchase Value"]]

In [556]:
new_top_df= new_top_df.sort_values("Total Purchase Value", ascending=False)

In [557]:
new_top_df=new_top_df.head()
new_top_df=new_top_df.round(2)
new_top_df["Total Purchase Value"]=new_top_df["Total Purchase Value"].map("${: .2f}".format)
new_top_df["Average Purchase Price"]=new_top_df["Average Purchase Price"].map("${: .2f}".format)

In [558]:
new_top_df

             Purchases Average Purchase Price Total Purchase Value
SN
Undirrala66          5                 $ 3.41              $ 17.06
Saedue76             4                 $ 3.39              $ 13.56
Mindimnya67          4                 $ 3.18              $ 12.74
Haellysu29           3                 $ 4.24              $ 12.73
Eoda93               3                 $ 3.86              $ 11.58

In [559]:
items_df=purchase_df.loc[:,["Item ID","Item Name","Price"]]

In [560]:
items_df.head()

   Item ID                                  Item Name  Price
0      165                Bone Crushing Silver Skewer   3.37
1      119  Stormbringer, Dark Blade of Ending Misery   2.32
2      174                            Primitive Blade   2.46
3       92                               Final Critic   1.36
4       63                             Stormfury Mace   1.27

In [561]:
top_items=items_df.groupby(["Item ID","Item Name"]).count()["Price"].rename("Purchase Count")
top_purchase_price=items_df.groupby(["Item ID","Item Name"]).sum()["Price"].rename("Total Purchase Value")
avg_item_purchased=items_df.groupby(["Item ID","Item Name"]).mean()['Price']

In [562]:
items_summary = pd.DataFrame({"Total Purchase Value": top_purchase_price, "Item Price": avg_item_purchased, "Purchase Count": top_items})

In [563]:
items_summary["Total Purchase Value"]= items_summary["Total Purchase Value"].map("${: .2f}".format)
items_summary["Item Price"]= items_summary["Item Price"].map("${: .2f}".format)

In [564]:
items_summary.sort_values("Purchase Count", ascending=False).head(5)

,,Item Price,Purchase Count,Total Purchase Value
Item ID,Item Name,,,
39,"Betrayal, Whisper of Grieving Widows",$ 2.35,11,$ 25.85
84,Arcane Gem,$ 2.23,11,$ 24.53
31,Trickster,$ 2.07,9,$ 18.63
175,Woeful Adamantite Claymore,$ 1.24,9,$ 11.16
13,Serenity,$ 1.49,9,$ 13.41

In [565]:

items_summary.sort_values("Total Purchase Value", ascending=False).head(5)

,,Item Price,Purchase Count,Total Purchase Value
Item ID,Item Name,,,
170,Shadowsteel,$ 1.98,5,$ 9.90
21,Souleater,$ 3.27,3,$ 9.81
37,"Shadow Strike, Glory of Ending Hope",$ 1.93,5,$ 9.65
127,"Heartseeker, Reaver of Souls",$ 3.21,3,$ 9.63
120,Agatha,$ 1.91,5,$ 9.55